<div class="login-container">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=stethoscope_arrow" />

  <mat-card>
    <span class="material-symbols-outlined">stethoscope_arrow</span>
    <mat-card-title>Admin Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-column">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error
              *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">
              Please enter a valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" required>
            <mat-icon matSuffix (click)="isPasswordVisible = !isPasswordVisible">
              {{isPasswordVisible ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>