/* login.component.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    width: 400px;
}

mat-card-title {
    margin-bottom: 1rem;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

mat-form-field {
    width: 130%;
}

button {
    width: 90%;
}

.material-symbols-outlined {
    font-size: 64px;
    margin-bottom: 16px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 64
}