/* Add any global styles for your application here */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}